@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* Criando variáveis na raiz do HTML, para que fiquem disponíveis para TODOS os elementos que existem no HTML */
    --card-title-border-color: #746615;
    --card-color-primary: #F7DD43;  
    --card-bg-color: #2c0f1c;
    --bg: url(./images/bg-qatar-crowd.jpg);
    --bg-color:#2c0613;
    --cor00:#BD5376;
    --cor01:#883C55;
    --cor02:#BD1A51;
    --cor03:#711031;
    --cor04:#3D091A;
    --cor05:#2c0613;
    --fonteh1: Arial, sans-serif;
}

body.blue{
    --card-title-border-color: #338af3;
    --card-color-primary: #338af3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}

body.green{
    --card-title-border-color: #047c3f;
    --card-color-primary: #047c3f;
    --card-bg-color: #1A1F1B;
    --bg: url(./assets/bg-green.svg);
}

ul{
    list-style: none;
}

body {
    background: #711031;
    background-image: var(--bg);
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

body *{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #711031, #3D091A);
 
}

header > h1 {
    padding: 10px;
    font-family: var(--fonteh1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    color: var(--card-color-primary);
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0;
    animation: aparecer 2s forwards;
}
    
header > img {
    width: 25vw;
    max-width: 30vh;
    opacity: 0;
    animation: aparecer 5s forwards;
}

header > img#mascote1 {
    width: 25vw;
    max-width: 30vh;
    opacity: 0;
    animation: aparecerDir 2s forwards;
}

header > img#mascote2 {
    width: 25vw;
    max-width: 30vh;
    opacity: 0;
    animation: aparecerEsq 2s forwards;
}


nav {
    text-align: center;
    color: white;
    font-size: 1.3em;
    padding:20px;
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05));
    box-shadow: 0px 7px 7px #71103050;
    
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 2px;
    text-shadow: 1px 1px 1px black;
    margin: 5px;
    font-size: .9em;
    opacity: 0;
    animation: aparecer 5s forwards;
    white-space: nowrap; /* EVITA QUEBRAS DE LINHA NO CONTEÚDO DO ELEMENTO */
}

nav > a:hover{
    text-decoration: underline;
    color: var(--cor04);
    background-color: var(--cor02);
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
    transform: scale(1.1);
    
}

nav > a:visited {
    text-decoration: none;
    
}

nav > a:active {
    color: #BDB12D;
}

#bandeiras > img {
    padding-top: 5px;
    vertical-align: middle;
    
}

section#grupo {
    background-color: var(--card-bg-color);
    width: fit-content;
    margin: auto;
    border: 2px solid var(--card-color-primary);
    border-right: 2px solid var(--card-color-primary);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 100px;
    opacity: 0;
    animation: aparecer 3s forwards;
}

section#grupo > h2 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--card-color-primary);
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    margin: 10px;
    font-size: 1.5em;
}

section#grupo > h2:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#grupo > #bandeiras > ul {
    display: flex;
    flex-direction: column;
    
}

#grupo > #bandeiras > ul > li{
    display: flex;
    align-items: center;
    justify-content: left;
}

#grupo > #bandeiras > ul > li:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#grupo > #bandeiras > ul > li > scan {
    text-align: center;
    font-size: 1.5em;
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;

    line-height: 125%;
    
}

#app{
    width: fit-content;
    margin: auto;
    padding-top: 20px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    margin-bottom:50px;
}

.card {
    padding: 32px 23px;
    text-align: center;

    background: var(--card-bg-color);
    border-bottom: 1px solid var(--card-color-primary);
    border-right: 1px solid var(--card-color-primary);
    border-radius: 6px;
    
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: white;
    font-size: 1.2em;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
}

.card ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card ul li + li { /* "li + li" = 'li' que contenha um 'li' anterior*/
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 0.9em;
    line-height: 125%;
    color: #E1E1E6;
    padding: 0px 10px;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1); /* aumentando o tamanho do elemento*/
}

.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s; /* suavizando o tempo de animação */
}

.card {
    opacity: 0; /* o card começa opaco ao carregar o site e depois recebe uma animação */
    animation: appear .2s forwards; /* 'forwards' faz terminar a appear nas condições de 100% da animação (ou seja, opacidade = 1) */
}

/* 
Jogaremos as css abaixo para JavaScrip para o caso de ter muitos cards para animar: 

.card:nth-child(2) {                      // o segundo elemento filho da class card
    animation-delay: .2s;
}

.card:nth-child(3) {                         // o terceiro elemento filho da class card 
    animation-delay: .4s;
} 
*/

/*Criando animações abaixo: */
@keyframes appear{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
/* Regras de Responsividade: */
@media (min-width: 700px) {
    #cards {
        max-width: 670px; /* A <div id="cards"> poderá ter no máximo 670px */ /* Descobrimos este valor somando a largura de 2 cartões mais o espaço entre eles */
        flex-direction: row;
        flex-wrap: wrap; /* Quando a <div id="cards"> atingir width=670px, haverá quebra de linha para o próximo conteúdo  */
    }
}
/* Tudo que estiver entre chaves acima será aplicado quando 'width > 400px' */

footer{
    background-color: #2c0613;
    color: white;
    text-align: center;
    font-size: .9em;
    padding: 5px;
    box-shadow: 0px -7px 7px #71103050;
}

footer > p > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor02);
}

footer > p > a:visited {
    text-decoration: none;
    
}

@keyframes aparecerEsq{
    0% {
        transform: translateX(1000px);
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }

}

@keyframes aparecerDir{
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}    

@keyframes aparecer{
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }


}
